
<%- include("partials/header") %>

	<div class="container">
		<h1>This is home page!</h1>
		<p class="lead">Currently, this website has only 1 function: query your leetcode contest history.</p>
		<form class="form-inline" action="/contest" method="post">
			  <label class="my-1 mr-2" for="inlineFormInputName2">leetcode username</label>
			  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="nevergiveup" name="queryName">

		  

		  <button type="submit" class="btn btn-primary mb-2">Submit</button>
		</form>
	</div>

<%- include("partials/footer") %>