table { border-collapse: collapse; empty-cells: show; }

td { position: relative; }

tr.line-through td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 2px solid black;
  width: 100%;
}

tr.line-through td:after {
  content: "\00B7";
  font-size: 1px;
}

/* Extra styling */
td { width: 100px; }
th { text-align: left; }